.PieChart {
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #844a58;
  border-radius: 25px;
  padding: 20px;
  &__input {
    width: 50px;
    &-text,
    &-text {
      border: 1px solid rgba(255, 255, 255, 0.2);
      background-color: transparent;
      border-radius: 25px;
      text-align: center;
      height: 50px;
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
      font-family: "Barlow-Regular", "sans-serif";
      color: white;
      opacity: 0.7;
      outline: none;
    }
    &-text:hover {
      opacity: 1;
    }
    &-text:focus {
      transition: all 0.5s;
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}
